* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-parent-row {
    display: flex;
}

.flex-parent-column {
    display: flex;
    flex-direction: column;
}

#top-header-f1 {
    background: #f2f2f2;
    align-items: center;
    height: 80px;
    width:100%;
}

#page-name {
    font-size: 40px;
    font-family: 'Amatic SC', bold;
    margin: 0 auto;
}

#opciones {
    margin: 0 20px 0 0;
    font-size: 30px;
}

body {
    background: #f8f8f8;
}

#cont-f2 {

}

#main-movie-info {
    background: #9C9990;
    padding: 10px;
    width: 65%;
    margin: 0 20px;

}

#movie-title {
    font-family: 'Cambay', sans-serif;
    font-size: 25px;
  }

#movie-data {
    font-family: 'Cambay', sans-serif;
    font-size: 16px;
}

#movie-plot {
    font-family: 'Cambay', sans-serif;
    font-size: 16px;
}
