{% extends 'main.html' %}
{% block title %}{{ movie.original_title }}{% endblock %}
{% block content %}
<div id="cont-f2" class="flex-parent-column">
    <div id="main-movie-info">
        <div id="movie-title">
            {{ movie.original_title }} ({{ movie.year_of_release }}) {{ movie.watched }}
        </div>
        <div id="plot-poster" class="flex-parent-row">
            <div id="movie-plot">
                {{ movie.plot }}
            </div>
            <img src="../../media/{{ movie.poster }}" height="269px" width="187px">
        </div>
        <div id="movie-data">
            {{ movie.english_title }}|{{ movie.spanish_title}}
        </div>
    </div>
</div>
{% endblock %}